.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(217, 214, 214, 0.8);
    border-radius: 5%;
    padding: 25px;
    width: 300px;
    height: 450px;
    font-weight: bolder;
}

.form input {
    margin-bottom: 20px;
    margin-top: 5px;
    width: 70%;
    padding: 7px;
}

.container-form {
    background: url(./DWMLHZSLTZB2VARS5777M3L4ZM.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.image-form {
    border-radius: 50%;
    margin-bottom: 20px;
}

.errors {
    color: red;
    font-size: 10px;
    margin: 0px;
    position: relative;
    top: -15px;
    width: 70%;
}

.hide {
    opacity: 0;
}

form button {
    height: 40px;
    width: 100px;
    font-size: 15px;
}