@import url('https://fonts.googleapis.com/css2?family=Julee&family=Rubik+Wet+Paint&family=Sigmar+One&display=swap');

.detail {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: url(./rick-morty-critica.jpg.webp);
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-family: 'Rubik Wet Paint', cursive;
}

.header h1 {
    max-width: 370px;
}

.header img {
    border-radius: 0% 30%;
    border-left: 10px solid white;
    border-right: 10px solid white;
    max-height: 320px;
    max-width: 300px;
}
.container {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5%;
    padding: 40px;
    transition: all .4s ease-in-out;
}
.container:hover {
    scale: 1.04;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li{
    list-style: none;
    margin: 10px;
    font-size: 25px;
    font-family: 'Rubik Wet Paint', cursive;
}
