@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');


.btn-agregar {
    font-family: 'Rubik Wet Paint', cursive;
    background-color: rgba(0, 255, 61, 1);
    text-align: center;
    color: #356133;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 200;
    transition: all .4s;
}

.btn-agregar:hover {
    scale: 1.07;
    box-shadow: 0 0 32px rgb(0, 255, 38);
}

.btn-random {
    font-family: 'Rubik Wet Paint', cursive;
    background-color:aquamarine;
    text-align: center;
    color: #356133;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 200;
    transition: all .4s;
}
.btn-random:hover {
    scale: 1.07;
    box-shadow: 0 0 32px rgb(71, 224, 238);
}

