@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

:root {
    --bg-card: radial-gradient(circle, rgba(0, 255, 61, 1) 16%, rgba(58, 221, 50, 1) 52%, rgba(65, 131, 65, 1) 98%);
    --bg-content: radial-gradient(circle, rgba(0, 255, 61, 1) 0%, rgba(69, 167, 64, 1) 24%, rgba(63, 140, 63, 1) 46%);
    --box-card: 0 0 32px rgb(0, 255, 38);
    --font-RyM: 'Rubik Wet Paint', cursive;
}
.card-container {
    height: 350px;
    width: 245px;
    overflow: hidden;
    margin: auto;
    padding: 10px 30px;
    border-radius: 2%;
    border: 1px solid #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0px 1px 5px 0px rgba(40, 232, 43, 1);
    text-align: center;
    background: var(--bg-card);
}
.card-container:hover {
    height: 520px;
    width: 245px;
    box-shadow: var(--box-card);
}

.image-card{
    position: relative;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border-top: 8px solid rgba(63, 140, 63, 1);
    border-bottom: 8px solid rgba(63, 140, 63, 1);
    object-fit: cover;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.card {
    position: relative;
}
.character-info {
    font-family: var(--font-RyM);
    color: #fff;
    opacity: 0;
    transition: all .5s ease;
    transform: translateY(-45px);
}
.card-container:hover .character-info{
    transform: translateY(0px);
    opacity: 1;
    scale: 1.07;
}

.character-name {
    font-family: var(--font-RyM);
    font-size: 1.5rem;
    color: darkgreen;
}