@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

.nav-bar {
    display: flex;
    justify-content:flex-end;
    background: radial-gradient(circle, rgba(0,255,61,1) 0%, rgba(69,167,64,1) 24%, rgba(63,140,63,1) 46%);
    padding: 1rem;
    margin-bottom: 5px;
    position: fixed;
    width: 100%;
    top: 0px;
    left: -32px;
    z-index: 4;
}

.nav-bar input {
    margin-right: 12px;
    border-radius: 5px;
    padding: 5px;
}

.nav-bar button {
    font-family: 'Rubik Wet Paint', cursive;
    background-color: rgba(0, 255, 61, 1);
    text-align: center;
    color: #356133;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 200;
    transition: all .4s;
}

.nav-bar button:hover  {
    scale: 1.07;
    box-shadow: 0 0 32px rgb(0, 255, 38);
}